@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');

body, p, span, strong {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 0.9em;
    background: greenyellow;
    padding: 0 5px 0 5px;
}

pre code {
    padding: 5px 10px 5px 10px;
    display: inline-block;
    line-height: 1.5em;
    font-size: 0.8em;
}

pre code.language-php {
    display: block;
    max-width: 620px;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: scroll;
    font-weight: 400;
    font-size: 0.8em;
    background-color: #fdfdfd;
    color: #000000;
    border: 1px solid #dddddd;
    padding: 25px;
    line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 2.1em;
    text-align: center;
    margin: 60px auto 50px auto;
}

h2 {
    font-size: 1.5em;
    margin: 50px 0 20px 0;
}

blockquote {
    border-left: 8px solid greenyellow;
    margin: 20px 0 20px 0;
    padding: 0 20px 0 20px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px 12px 8px 12px;
    font-size: 0.9em;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #eeeeee;
    color: #000000;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: #000000;
}

li a {
    background: #fffb00;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

.header {
    margin: 0;
    padding: 0;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-inner {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

.header .logo {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1em;
    background: greenyellow;
    padding: 0 5px 0 5px;
    float: left;
    letter-spacing: 0;
    line-height: 35px;
}

.header ul {
    float: right;
    margin: 0;
    padding: 0;
}

.header li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header li a {
    background: none;
    padding: 0 10px;
    font-size: 0.9em;
    line-height: 35px;
    display: inline-block;
    color: #dddddd;
}
.header li.current a, .header li a:hover {
    background: #555555;
}

.documentation {
    display: block;
    margin: 100px auto 0 auto;
    padding: 0 20px 0 20px;
    max-width: 800px;
}

.footer {
    border-top: 1px solid #eeeeee;
    display: block;
    padding: 50px 0 50px 0;
    margin: 120px auto 0 auto;
    max-width: 800px;
}

.footer p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1em;
    color: #cccccc;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    padding: 0;
}
